@tailwind base;
@tailwind components;
@tailwind utilities;

.contain {
  @apply xl:max-w-[98rem] mx-auto;
}

.flexed {
  @apply flex justify-between items-center;
}

@font-face {
  font-family: "Clash";
  src: url("/fonts/ClashDisplay-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Clash";
  src: url("/fonts/ClashDisplay-Semibold.otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Clash";
  src: url("/fonts/ClashDisplay-Bold.otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
